

/* sakura */
#sakurahana {
  z-index: 20px;
  width: 200px;
  height: 200px;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 150px;
}

svg g.hana {
  -webkit-animation: hana 10s infinite linear;
  animation: hana 10s infinite linear;
  transform-origin: center;
}

@-webkit-keyframes hana {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes hana {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

svg path.hanabira {
  fill: transparent;
  stroke: #ff95b2;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke-width: 2;
  -webkit-animation: sakura 4s ease-in 0s forwards;
  animation: sakura 4s ease-in 0s forwards;
}

@-webkit-keyframes sakura {
  0% {
    stroke-dashoffset: 2000;
  }
  30% {
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: rgba(255, 236, 253, 0.5);
  }
}

@keyframes sakura {
  0% {
    stroke-dashoffset: 2000;
  }
  30% {
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: rgba(255, 236, 253, 0.5);
  }
}



/* map */

#map{
  float:left;
  width: 25%;
}




/* BAR CHART*/

.trends{
  float:right;
  width: 70%;
}

#trends {
  /* margin: auto; */
  overflow-x: auto;
  overflow-y: hidden;
}

g.hidden line, g.hidden path {
  display: none;
}


.bar:hover {
  fill: pink;
}

.trends h1 {
  color: #B21262;
  text-align: center;
  font-size: 30px;
}

.trends p {
  color: #B21262;
  text-align: center;
  font-size: 15px;
}

footer {
  padding: 20px;
  color: #9CA0AD;
  font-size: 14px;
  text-align: center;
}
